*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: #6f3cff;
    max-width: 400px;
    margin: 50px auto;
    border: 2px dotted black;
}
.title{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 700px;
}
.imge
{
    width: auto;
    height: 350px;
}
.imge img{
    max-width: 400px;
    max-height: fit-content;
}
button{
    margin-left: 160px;
   
height: 2rem;
}